<div class="explorer-container">

  <p class="mt-3" *ngIf="paymentMsg">{{paymentMsg}}</p>

  <div class="category-header d-flex align-items-center" *ngIf="!selectedProduct">
    <button class="backBtn me-3" (click)="goBack()">
      <i class="bi bi-arrow-left"></i>
    </button>
    <h1 class="cursiveFont mb-0 fg2">
      <span *ngIf="isBumperDiscountView">Bumper Discount Products</span>
      <span *ngIf="isAllProductsView">All Products</span>
      <span *ngIf="currentCategory && !isBumperDiscountView && !isAllProductsView">{{currentCategory.name}}</span>
    </h1>
    <button class="filter-btn ms-auto btn" (click)="toggleFilterPanel()">Filters</button>
  </div>


  <div class="filter-panel" [class.active]="isFilterPanelVisible">
    <div class="filter-header">
      <h3>Filters</h3>
      <button type="button" class="btn-close" aria-label="Close" (click)="toggleFilterPanel()"></button>
    </div>

    <div class="selected-filters" *ngIf="selectedFilters.length > 0">
      <h4>Selected Filters</h4>
      <div class="selected-filter" *ngFor="let filter of selectedFilters; let i = index">
        <span>{{ filter.label }}</span>
        <button class="remove-filter-btn" (click)="removeFilter(filter)">✖</button>
      </div>
    </div>

    <div class="filter-section">
      <h4>Sort</h4>
      <select id="sortSelect" [(ngModel)]="selectedSort" (change)="sortProducts(selectedSort)">
        <option value="lowToHigh">Price: Low to High</option>
        <option value="highToLow">Price: High to Low</option>
      </select>
    </div>

    <div class="filter-section">
      <h4>Price Range</h4>
      <div *ngFor="let range of priceRanges" class="price-option" (click)="filterByPrice(range)">
        <span>{{range.label}}</span>
      </div>
    </div>

    <div class="filter-section">
      <h4>Ratings</h4>
      <div *ngFor="let rating of ratingsOptions" class="rating-option" (click)="filterByRating(rating)">
        <span>{{rating}} ★ & Up</span>
      </div>
    </div>

    <div class="filter-section">
      <h4>Discounts</h4>
      <div *ngFor="let discount of discountOptions" class="discount-option" (click)="filterByDiscount(discount)">
        <span>{{discount}}% or more</span>
      </div>
    </div>

    <div class="filter-section">
      <h4>Color Options</h4>
      <div class="color-options">
        <div *ngFor="let color of availableColors" class="color-option" (click)="filterByColor(color.name)">
          <div class="color-shade" [style.backgroundColor]="color.colorCode"></div>
          <span>{{color.name}}</span>
        </div>
      </div>
    </div>

    <button class="btn btn-outline-secondary customResetBtn w-100" (click)="resetFilters()">Clear all filters</button>
    <button class="btn btn-outline-primary customResetBtn custommg  w-100 mt-2 mb-5" (click)="applyFilters()">Search</button>
  </div>

  <div class="search-result-message" *ngIf="searchResultMessage && !selectedProduct">
    <p class="professional-message">{{ searchResultMessage }}</p>
  </div>
  <div class="main-content" [class.hidden]="isFilterPanelVisible">
    <div class="category-banner" *ngIf="currentCategoryImage && !selectedProduct">
      <div class="category-banner-content">
        <img [src]="currentCategoryImage" alt="N.A." class="category-image animated-banner" />
      </div>
    </div>
    <div class="products-grid" *ngIf="!selectedProduct">
      <div class="product-card" *ngFor="let product of filteredProducts; let i = index"
        (click)="selectProduct(product)">
        <div *ngIf="product.bumperdiscount && isBumperDiscountView" class="bumper-discount-badge">
          <div class="discount-pulse"></div>
          <div class="discount-content">
            <i class="bi bi-lightning-charge-fill discount-icon"></i>
            <span class="discount-text">BUMPER DISCOUNT!</span>
            <i class="bi bi-arrow-right-circle-fill discount-arrow"></i>
          </div>
        </div>

        <div class="image-container"
          [ngClass]="{ 'visible': product.variants[0].imagesLoaded, 'hidden': !product.variants[0].imagesLoaded }">
          <img [src]="product.variants[0].images[0]" [alt]="product.name" loading="lazy" (load)="onImageLoaded(i)">
        </div>
        <div class="placeholder" *ngIf="!product.variants[0].imagesLoaded">
          <p class="customC">Loading...</p>
        </div>
        <div class="product-info cursiveFont">
          <h3 class="fw-600 text-body-secondary">{{product.name}}</h3>
          <p class="price"><del> ₹{{product.basePrice}}</del></p>
          <div class="color-options justify-content-center">
            <span *ngFor="let variant of product.variants" class="color-dot" [style.background]="variant.colorCode"
              [title]="variant.color"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mDiv" *ngIf="selectedProduct && selectedVariant">
    <div class="card">
      <nav (click)="resetSelections()">
        <i class="bi bi-arrow-left"></i>
        Back to Collection
      </nav>
      <div class="grid-container">
        <div class="photo">
          <div class="image-loading" *ngIf="!imageLoaded">
            <div class="loading-spinner"></div>
            <div class="loading-message">{{currentLoadingMessage}}</div>
          </div>
          <img [src]="currentMainImage || selectedVariant.images[0]" [alt]="selectedProduct.name" (load)="onImageLoad()"
            [class.loaded]="imageLoaded" loading="lazy">

          <div class="image-thumbnails" *ngIf="selectedVariant.images.length > 1">
            <div *ngFor="let img of selectedVariant.images; let i = index" class="thumbnail"
              [class.active]="currentMainImage === img" [class.loaded]="imageLoaded" (click)="setMainImage(img)">
              <img class="mt-10" [src]="img" [alt]="'Thumbnail ' + (i+1)" loading="lazy">
            </div>
          </div>

          <div class="image-dots" *ngIf="selectedVariant.images.length > 1">
            <span *ngFor="let img of selectedVariant.images; let i = index" [class.active]="currentMainImage === img"
              (click)="setMainImage(img)"></span>
          </div>
        </div>

        <div class="description">
          <h2>{{selectedProduct.name}}</h2>
          <h4>{{currentCategory?.name}}</h4>
          <div class="color-options">
            <span *ngFor="let variant of selectedProduct.variants" class="color-option"
              [style.backgroundColor]="variant.colorCode" (click)="selectVariant(variant)"></span>
          </div>

          <div class="price-display" #priceDisplay>
            <div *ngIf="showOriginalPrice" class="price-step" @priceStep>
              <span class="original-price">
                ₹{{getOriginalPrice()}}
                <span class="strike-through"></span>
              </span>
            </div>

            <div *ngIf="showDiscountPercent" class="price-step" @priceStep>
              <span class="discount-percent">
                {{discountPercent}}% OFF
              </span>
            </div>

            <div *ngIf="showFinalPrice" class="price-step" @priceStep>
              <span class="final-price">
                ₹
                <span *ngFor="let digit of getFinalPriceDigits(); let i = index" class="digit"
                  [style.animation-delay]="i * 100 + 'ms'">
                  {{digit}}
                </span>
              </span>
            </div>
          </div>

          <p>{{selectedProduct.description}}</p>
          <button class="btn btn-primary customBtn" (click)="openModal()">Select Lenses</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="lensModal" tabindex="-1" aria-labelledby="lensModalLabel" style="overflow-y: auto;"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button *ngIf="currentStep > 1" class="btn btn-back" (click)="goBackForToggle()">
          <i class="bi bi-chevron-left"></i>
          <span class="visually-hidden">Back</span>
        </button>
        <h5 class="modal-title text-truncate">
          {{ currentStep === 1 ? 'Select Lens Type' : currentStep === 2 ? 'Choose Package' : 'Order Summary' }}
        </h5>
        <button type="button" class="btn-close btn-close-custom" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-3 p-md-4">
        <div class="steps">
          <div *ngFor="let step of steps; let index = index" class="step" [class.active]="currentStep === index + 1"
            [class.completed]="currentStep > index + 1">
            <span *ngIf="currentStep <= index + 1">{{ index + 1 }}</span>
            <i *ngIf="currentStep > index + 1" class="bi bi-check"></i>
          </div>
          <div class="step-connector"></div>
        </div>
        <div *ngIf="currentStep === 1" class="step-content slide-in">
          <ul class="list-group lens-options">
            <li class="list-group-item lens-option" (click)="selectMainOption('single-vision')"
              [class.active]="selection.mainOption === 'single-vision'">
              <div class="option-content">
                <div class="option-icon">
                  <i class="bi bi-eye-fill"></i>
                </div>
                <div class="option-text">
                  <h5>Single Vision</h5>
                  <p>For distance or near vision (Thin, anti-glare, blue-cut options)</p>
                </div>
                <div class="option-arrow">
                  <i class="bi bi-chevron-right"></i>
                </div>
              </div>
            </li>

            <li class="list-group-item lens-option"
              *ngIf="viewType != 'Unisex Sunglasses' && viewType != 'Kids Sunglasses & Frames' && viewType!= 'Unisex Sports & Swimming'"
              (click)="selectMainOption('bifocal')" [class.active]="selection.mainOption === 'bifocal'">
              <div class="option-content">
                <div class="option-icon">
                  <i class="bi bi-eyeglasses"></i>
                </div>
                <div class="option-text">
                  <h5>Bifocal/Progressive</h5>
                  <p>Bifocal and Progressives (For two powers in same lenses)</p>
                </div>
                <div class="option-arrow">
                  <i class="bi bi-chevron-right"></i>
                </div>
              </div>
            </li>

            <li class="list-group-item lens-option" (click)="selectMainOption('zero-power')"
              [class.active]="selection.mainOption === 'zero-power'">
              <div class="option-content">
                <div class="option-icon">
                  <i class="bi bi-shield-check"></i>
                </div>
                <div class="option-text">
                  <h5>Zero Power</h5>
                  <p>Block 98% of harmful rays (Anti-glare and blue-cut options)</p>
                </div>
                <div class="option-arrow">
                  <i class="bi bi-chevron-right"></i>
                </div>
              </div>
            </li>

            <li class="list-group-item lens-option" (click)="selectFrameOnly()"
              [class.active]="selection.mainOption === 'frame-only'">
              <div class="option-content">
                <div class="option-icon">
                  <i class="bi bi-box"></i>
                </div>
                <div class="option-text">
                  <h5 *ngIf="viewType != 'Unisex Sunglasses' && viewType != 'Kids Sunglasses & Frames' && viewType!= 'Unisex Sports & Swimming'">Frame Only</h5>
                  <h5 *ngIf="viewType == 'Unisex Sunglasses' || viewType == 'Kids Sunglasses & Frames' || viewType == 'Unisex Sports & Swimming'">Sunglass Only</h5>
                  <p>Buy Only Frame</p>
                </div>
                <div class="option-arrow">
                  <i class="bi bi-chevron-right"></i>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div *ngIf="currentStep === 2" class="step-content slide-in">
          <div class="row g-3">
            <div class="col-12 col-sm-6" *ngFor="let option of subOptions">
              <div class="card option-card h-100" (click)="selectSubOption(option)"
                [class.active]="selection.subOption === option">
                <div class="card-body p-3">
                  <div class="card-header p-0 mb-2">
                    <h5 class="h6 mb-0">{{ option }}</h5>
                    <i class="bi bi-check-circle-fill"></i>
                  </div>
                  <ul class="features-list list-unstyled small mb-2">
                    <li *ngFor="let detail of optionDetails[option]"  class="mb-1">
                      <i class="bi bi-check-circle"></i>
                      {{ detail }}
                    </li>
                  </ul>
                  <div class="price-tag small">
                    Lens: ₹{{ prices[option] }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="currentStep === 3" class="step-content slide-in">
          <div class="container-fluid px-0">
            <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
              <div class="card shadow-sm p-3">
                <h4 class="h5 mb-3 text-primary fw-bold text-center">Enter Power for Both Eyes</h4>

                <div class="row g-3">
                  <!-- Right Eye -->
                  <div class="col-12 col-md-6">
                    <div class="card border-success h-100 p-2">
                      <h5 class="h6 text-success mb-2">Right Eye</h5>

                      <label class="form-label small">Power (SPH)</label>
                      <select class="form-select form-select-sm mb-2" formControlName="rightEyePowerSPH">
                        <option value="">Select SPH</option>
                        <option *ngFor="let sph of sphOptions" [value]="sph">{{ sph }}</option>
                      </select>

                      <label class="form-label small">Power (CYL)</label>
                      <select class="form-select form-select-sm mb-2" formControlName="rightEyePowerCYL">
                        <option value="">Select CYL</option>
                        <option *ngFor="let cyl of cylOptions" [value]="cyl">{{ cyl }}</option>
                      </select>

                      <label class="form-label small">Axis</label>
                      <select class="form-select form-select-sm mb-2" formControlName="rightEyeAxis">
                        <option value="">Select Axis</option>
                        <option *ngFor="let axis of axisOptions" [value]="axis">{{ axis }}</option>
                      </select>

                      <label class="form-label small">{{selection.mainOption == 'bifocal' ? 'Add' : 'Index'}}</label>
                      <select class="form-select form-select-sm" formControlName="rightNumberOfBoxes" *ngIf="selection.mainOption != 'bifocal'">
                        <option value="">Select Index</option>
                        <option *ngFor="let count of boxesOptions" [value]="count">{{ count }}</option>
                      </select>
                      <select class="form-select form-select-sm" formControlName="rightNumberOfBoxes" *ngIf="selection.mainOption == 'bifocal'">
                        <option value="">Select Add</option>
                        <option *ngFor="let count of addOptions" [value]="count">{{ count }}</option>
                      </select>
                    </div>
                  </div>

                  <!-- Left Eye -->
                  <div class="col-12 col-md-6">
                    <div class="card border-success h-100 p-2">
                      <h5 class="h6 text-success mb-2">Left Eye</h5>

                      <label class="form-label small">Power (SPH)</label>
                      <select class="form-select form-select-sm mb-2" formControlName="leftEyePowerSPH">
                        <option value="">Select SPH</option>
                        <option *ngFor="let sph of sphOptions" [value]="sph">{{ sph }}</option>
                      </select>

                      <label class="form-label small">Power (CYL)</label>
                      <select class="form-select form-select-sm mb-2" formControlName="leftEyePowerCYL">
                        <option value="">Select CYL</option>
                        <option *ngFor="let cyl of cylOptions" [value]="cyl">{{ cyl }}</option>
                      </select>

                      <label class="form-label small">Axis</label>
                      <select class="form-select form-select-sm mb-2" formControlName="leftEyeAxis">
                        <option value="">Select Axis</option>
                        <option *ngFor="let axis of axisOptions" [value]="axis">{{ axis }}</option>
                      </select>



                      <label class="form-label small">{{selection.mainOption == 'bifocal' ? 'Add' : 'Index'}}</label>
                      <select class="form-select form-select-sm" formControlName="leftNumberOfBoxes" *ngIf="selection.mainOption != 'bifocal'">
                        <option value="">Select Index</option>
                        <option *ngFor="let count of boxesOptions" [value]="count">{{ count }}</option>
                      </select>
                      <select class="form-select form-select-sm" formControlName="leftNumberOfBoxes" *ngIf="selection.mainOption == 'bifocal'">
                        <option value="">Select Add</option>
                        <option *ngFor="let count of addOptions" [value]="count">{{ count }}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div *ngIf="ErrorMsg" class="text-center text-danger">
                  {{ErrorMsg}}
                </div>
                <div class="text-end mt-3">
                  <button class="btn btn-primary btn-sm px-3" type="submit" [disabled]="productForm.invalid">
                    Save & Continue
                  </button>
                </div>
              </div>
            </form>
          </div>

        </div>

        <div *ngIf="currentStep === 4" class="step-content slide-in">
          <h5 class="h6 section-title mb-3">Review Your Order</h5>

          <div class="order-summary-card card mb-3">
            <div class="row g-0">
              <div class="col-12 col-md-4 position-relative">
                <img [src]="selectedVariant.images[0]" class="img-fluid w-100 product-image"
                  alt="{{ selectedProduct?.name || 'Product Image' }}" />
                <div class="badge-overlay">
                  <span class="badge bg-primary small">Selected</span>
                </div>
              </div>

              <div class="col-12 col-md-8">
                <div class="card-body p-3">
                  <h5 class="h6 product-title mb-2">{{ selectedProduct?.name }}</h5>

                  <div class="detail-grid small mb-2">
                    <div class="detail-item">
                      <span>Variant:</span>
                      <strong>{{ selectedVariant?.color || 'Default Variant' }}</strong>
                    </div>
                    <div class="detail-item">
                      <span>Quantity:</span>
                      <strong> 1 </strong>
                    </div>
                    <div class="detail-item">
                      <span>Base Price:</span>
                      <strong>₹{{ selectedProduct?.basePrice }}</strong>
                    </div>
                  </div>

                  <div class="price-summary small">
                    <div class="price-row">
                      <span>Product Discounted Price:</span>
                      <span>₹{{ selectedProduct?.basePrice - selectedProduct?.basePriceWithDiscount}}</span>
                    </div>
                    <div class="price-row">
                      <span> Lens:</span>
                      <span>₹{{ prices[selection.subOption] }}</span>
                    </div>
                    <div class="price-row total">
                      <span>Total:</span>
                      <span>₹{{ prices[selection.subOption] + selectedProduct?.basePrice -
                        selectedProduct?.basePriceWithDiscount}}</span>
                    </div>
                    <div class="price-row" style="font-size: 0.6rem;">
                      <span >You Saved:</span>
                      <span>₹{{ selectedProduct?.basePriceWithDiscount}}</span>
                    </div>
                  </div>

                  <div class="d-flex flex-column flex-sm-row gap-2 mt-3">
                    <button class="btn btn-outline-secondary btn-sm flex-grow-1 cart-btn" (click)="AddToCart()">
                      <span>Add To Cart</span>
                    </button>
                    <button class="btn btn-primary btn-sm flex-grow-1 proceed-btn" (click)="proceedToBuy()">
                      <span>Proceed to Buy</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer text-center py-2">
        <p class="m-0 w-100 text-muted">© All rights reserved @i-trends-2025</p>
      </div>
    </div>
  </div>
</div>


<app-spinner *ngIf="(uiService.loading$ | async) || false"></app-spinner>
