<nav class="fnav">
  <!-- Logo -->
  <img
    src="https://firebasestorage.googleapis.com/v0/b/i-trends-85dd4.firebasestorage.app/o/MainAssets%2FitrendsLogo.png?alt=media&token=827321c7-4251-42c3-8a0f-8e3d3481a453"
    alt="i-trends Logo" class="logo">

  <!-- Hamburger Menu Button (for mobile) -->
  <button class="hamburger" (click)="toggleMenu()">☰</button>

  <!-- Search Bar and Menu Items -->
  <div class="nav-content customFlex" [ngClass]="{ 'active': isMenuOpen }">
    <div class="search-container">
      <input type="text" placeholder="What are you looking for" class="search-bar">
      <button class="search-button"></button>
    </div>
    <div class="menu-items">
      <p>Track Order</p>
      <p>Cart</p>
    </div>
  </div>
</nav>

<nav class="snav">
  <div class="nav-links">
    <p>EYEGLASSES</p>
    <p>KIDS GLASSES</p>
    <p>COMPUTER GLASSES</p>
    <p>SUNGLASSES</p>
    <p>CONTACT LENSES</p>
    <p>HOME EYE-TEST</p>
    <p>STORE LOCATION</p>
  </div>
  <!-- <div class="nav-image">
        <img src="https://static1.lenskart.com/media/desktop/img/May22/3dtryon1.png" alt="3D Try On">
    </div> -->
</nav>

<div class="container1Main">
  <div class="card hover-trigger">
    <div class="imgBx">
      <img
        src="https://static.vecteezy.com/system/resources/thumbnails/045/948/372/small_2x/modern-eyeglasses-isolated-on-background-png.png"
        alt="nike-air-shoe">
    </div>

    <div class="contentBx">

      <h2>Trendy Specs</h2>



      <div class="color">

        <h3>Color :</h3>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <a routerLink="/buyProduct">Buy Now</a>
    </div>

  </div>
</div>

<div class="trans2 hover-trigger">
  <article>
    <figure class="">
      <img
        src="https://static.vecteezy.com/system/resources/thumbnails/049/589/946/small_2x/man-adjusting-his-glasses-focusing-intently-on-his-task-png.png"
        alt="">
      <div class="cardDetails">
        <h4>Cool Eyewears <br> Starting<span> <br> @149</span></h4>
        <button class="trans2Btn" routerLink="/buyProduct">Buy Now</button>
      </div>
    </figure>
  </article>
</div>


<!-- <div class="lens">

  <div class="card">
    <img
      src="https://static5.lenskart.com/media/catalog/product/pro/1/thumbnail/371x178/9df78eab33525d08d6e5fb8d27136e95//j/o/john-jacobs-jj-e11675-c1-eyeglasses_g_1122_2.jpg">
    <h4 class="customFont12">Test Sunglass Name</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, consequatur?</p>
    <div class="actions">
      <button (click)="addToCart()" routerLink="/buyProduct" class="customBtn addTocart">Add to Cart</button>
      <button (click)="buyNow()" routerLink="/buyProduct" class="customBtn buyNow" routerLink="/buyProduct">Buy
        Now</button>

    </div>
  </div>
  <div class="card">
    <img
      src="https://static5.lenskart.com/media/catalog/product/pro/1/thumbnail/371x178/9df78eab33525d08d6e5fb8d27136e95//j/o/john-jacobs-jj-e10235-c7-eyeglasses_g_2374.jpg">
    <h4 class="customFont12">Test Sunglass Name</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, consequatur?</p>
    <div class="actions">
      <button (click)="addToCart()" routerLink="/buyProduct" class="customBtn addTocart">Add to Cart</button>
      <button (click)="buyNow()" routerLink="/buyProduct" class="customBtn buyNow">Buy Now</button>
    </div>
  </div>

  <div class="card">
    <img src="https://static1.lenskart.com/media/desktop/img/Sep21/image179.png">
    <h4 class="customFont12">Test Sunglass Name</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, consequatur?</p>
    <div class="actions">
      <button (click)="addToCart()" routerLink="/buyProduct" class="customBtn addTocart">Add to Cart</button>
      <button (click)="buyNow()" routerLink="/buyProduct" class="customBtn buyNow">Buy Now</button>
    </div>
  </div>

  <div class="card">
    <img src="https://static1.lenskart.com/media/desktop/img/Apr22/a2.png">
    <h4 class="customFont12">Test Sunglass Name</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, consequatur?</p>
    <div class="actions">
      <button (click)="addToCart()" routerLink="/buyProduct" class="customBtn addTocart">Add to Cart</button>
      <button (click)="buyNow()" routerLink="/buyProduct" class="customBtn buyNow">Buy Now</button>
    </div>
  </div>

  <div class="card">
    <img
      src="https://static5.lenskart.com/media/catalog/product/pro/1/thumbnail/371x178/9df78eab33525d08d6e5fb8d27136e95//j/o/john-jacobs-jj-e11675-c1-eyeglasses_g_1122_2.jpg">
    <h4 class="customFont12">Test Sunglass Name</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, consequatur?</p>
    <div class="actions">
      <button (click)="addToCart()" routerLink="/buyProduct" class="customBtn addTocart">Add to Cart</button>
      <button (click)="buyNow()" routerLink="/buyProduct" class="customBtn buyNow">Buy Now</button>
    </div>
  </div>

  <div class="card">
    <img
      src="https://static5.lenskart.com/media/catalog/product/pro/1/thumbnail/371x178/9df78eab33525d08d6e5fb8d27136e95//j/o/john-jacobs-jj-e11675-c1-eyeglasses_g_1122_2.jpg">
    <h4 class="customFont12">Test Sunglass Name</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, consequatur?</p>
    <div class="actions">
      <button (click)="addToCart()" routerLink="/buyProduct" class="customBtn addTocart">Add to Cart</button>
      <button (click)="buyNow()" routerLink="/buyProduct" class="customBtn buyNow">Buy Now</button>
    </div>
  </div>

  <div class="card">
    <img
      src="https://static5.lenskart.com/media/catalog/product/pro/1/thumbnail/371x178/9df78eab33525d08d6e5fb8d27136e95//j/o/john-jacobs-jj-e11675-c1-eyeglasses_g_1122_2.jpg">
    <h4 class="customFont12">Test Sunglass Name</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, consequatur?</p>
    <div class="actions">
      <button (click)="addToCart()" routerLink="/buyProduct" class="customBtn addTocart">Add to Cart</button>
      <button (click)="buyNow()" routerLink="/buyProduct" class="customBtn buyNow">Buy Now</button>
    </div>
  </div>

  <div class="card">
    <img
      src="https://static5.lenskart.com/media/catalog/product/pro/1/thumbnail/371x178/9df78eab33525d08d6e5fb8d27136e95//j/o/john-jacobs-jj-e11675-c1-eyeglasses_g_1122_2.jpg">
    <h4 class="customFont12">Test Sunglass Name</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, consequatur?</p>
    <div class="actions">
      <button (click)="addToCart()" routerLink="/buyProduct" class="customBtn addTocart">Add to Cart</button>
      <button (click)="buyNow()" routerLink="/buyProduct" class="customBtn buyNow">Buy Now</button>
    </div>
  </div>
</div> -->

<div class="maincardDoctor hover-trigger">

  <div class="imgBox">
    <img src="https://srmglobalhospitals.com/wp-content/uploads/2023/12/Dr.-Venkatesan.png" alt="Specs" class="mouse">
  </div>

  <div class="contentBox">
    <h3>Book Experts Consultation</h3>
    <h3>At Just</h3>
    <h2 class="price">650<span>*</span></h2>
    <a href="#" class="buy">Book Now</a>
  </div>

</div>





<div class="main">
  <img src="https://static1.lenskart.com/media/desktop/img/Oct22/kiara/Refresh-Banner-Web.gif">
</div>
<div class="main hidedesktop">
  <div class="customD"></div>
  <img
    src="https://firebasestorage.googleapis.com/v0/b/i-trends-85dd4.firebasestorage.app/o/MainAssets%2Feyeglasses-wear-VEED.gif?alt=media&token=8e740f32-7434-4ca6-afdf-8244f1135d72">
</div>

<div class="cart">
  <div class="card">
    <div class="image-flipper">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/i-trends-85dd4.firebasestorage.app/o/MainFrames%2FSquareMain.JPG?alt=media&token=fd7eef24-a9d0-4903-8436-1e3f07146379"
        class="flipper-image front">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/i-trends-85dd4.firebasestorage.app/o/MainFrames%2FSquareMain2.jpg?alt=media&token=d76e75ab-628a-4bb1-bdde-8a97cd6a0a69"
        class="flipper-image back" alt="Square Frame Alternate">
    </div>
    <p>Square Frames</p>
    <button class="exploreBtn" (click)="navigate('Square')">EXPLORE</button>
  </div>

  <div class="card">
    <div class="image-flipper">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/i-trends-85dd4.firebasestorage.app/o/MainFrames%2FSquareMain12X.JPG?alt=media&token=973973a6-5e4b-4cf5-aab2-05bf6b89eefc"
        class="flipper-image front">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/i-trends-85dd4.firebasestorage.app/o/MainFrames%2FSquareMain12X2.JPG?alt=media&token=8cd27deb-f7c4-4add-9b92-33393a6c02aa"
        class="flipper-image back" alt="Square Frame Alternate">
    </div>
    <p>12X Square Frames</p>
    <button class="exploreBtn">EXPLORE</button>
  </div>

  <div class="card">
    <div class="image-flipper">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/i-trends-85dd4.firebasestorage.app/o/MainFrames%2FRimless.jpg?alt=media&token=e483771b-f3c2-4f01-a5e0-383903e3c85b"
        class="flipper-image front">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/i-trends-85dd4.firebasestorage.app/o/MainFrames%2FRimless2.jpg?alt=media&token=a87fa400-b735-4698-a437-00aa91ccfade"
        class="flipper-image back" alt="Square Frame Alternate">
    </div>
    <p>Rim Less Frames</p>
    <button class="exploreBtn">EXPLORE</button>
  </div>

  <div class="card">
    <div class="image-flipper">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/i-trends-85dd4.firebasestorage.app/o/MainFrames%2FRounded.jpg?alt=media&token=5ae6ba90-aff5-489c-9b08-c856ae4d9dae"
        class="flipper-image front">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/i-trends-85dd4.firebasestorage.app/o/MainFrames%2FRounded2.jpg?alt=media&token=c05f3a91-092e-4a6c-accf-66ff5436fff6"
        class="flipper-image back" alt="Square Frame Alternate">
    </div>
    <p>Rounded Frames</p>
    <button class="exploreBtn">EXPLORE</button>
  </div>


  <div class="card">
    <div class="image-flipper">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/i-trends-85dd4.firebasestorage.app/o/MainFrames%2FHuslr.jpg?alt=media&token=b62d6689-08eb-430a-aa6d-1897a4a6562e"
        class="flipper-image front">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/i-trends-85dd4.firebasestorage.app/o/MainFrames%2FHuslr2.jpg?alt=media&token=f9a2d965-2408-4d33-9939-e9a3df4c9239"
        class="flipper-image back" alt="Square Frame Alternate">
    </div>
    <p>Huslr Frames</p>
    <button class="exploreBtn">EXPLORE</button>
  </div>

  <div class="card">
    <div class="image-flipper">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/i-trends-85dd4.firebasestorage.app/o/MainFrames%2FUnisex.jpg?alt=media&token=f7edea8b-318d-4fe6-8f6a-218f6dfe3b09"
        class="flipper-image front">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/i-trends-85dd4.firebasestorage.app/o/MainFrames%2FUnisex2.jpg?alt=media&token=358c555c-7f07-4c21-810c-9b043fa186ca"
        class="flipper-image back" alt="Square Frame Alternate">
    </div>
    <p>Unisex Sunglasses</p>
    <button class="exploreBtn">EXPLORE</button>
  </div>


</div>
<div class="banner">
  <h2>As Seen At New York Fashion Week</h2>
  <div class="img">
    <img src="https://static1.lenskart.com/media/desktop/img/Oct22/nyfw/web%20banner.gif">
  </div>
</div>

<div class="banner">
  <h2>FIND THE PERFECT FIT</h2>
  <div class="two-img">
    <img src="https://static1.lenskart.com/media/desktop/img/Nov20/25-Nov/Banner03_TileDesktop.jpg">
    <img src="https://static1.lenskart.com/media/desktop/img/Aug21/Desktop/ce-square.jpg">
  </div>
</div>

<div class="banner">
  <h2>INTRODUCTION OJOS Wear - SAVE & SUBSCRIBE</h2>
  <div class="img">
    <img src="https://static1.lenskart.com/media/desktop/img/May22/ojos-web.jpg">
  </div>
</div>

<div class="banner">
  <h2>OUR BRANDS</h2>
  <div class="img">
    <img src="https://static1.lenskart.com/media/desktop/img/Aug21/Desktop/VC-Banner.jpg">
  </div>
</div>



<div class="main-img">
  <img src="https://static1.lenskart.com/media/desktop/img/Aug21/25-Aug/LK-AIR-Banner.jpg">
</div>



<div class="footer">
  <div class="list">
    <ul>
      <li>
        <h2>SERVICES</h2><br><br>
        <a>Visit Store</a><br><br>
        <a>Buying Guide</a><br><br>
        <a>Frame Size</a><br><br>
        <a>Check Power</a><br><br>
      </li>
    </ul>
  </div>

  <div class="list">
    <ul>
      <li>
        <h2>ABOUT US</h2><br><br>
        <a>We Are Hiring</a><br><br>
        <a>Refer & Earn</a><br><br>
        <a>Follow Us</a><br><br>
        <a>i-trends Coupons</a><br><br>
      </li>
    </ul>
  </div>

  <div class="list">
    <ul>
      <li>
        <h2>HELP</h2><br><br>
        <a>Contact</a><br><br>
        <a>Feedback</a><br><br>
        <a>Details</a><br><br>
      </li>
    </ul>
  </div>

  <div class="list">
    <ul>
      <li>
        <img src="https://static.lenskart.com/media/desktop/img/play-store.svg"><br><br>
      </li>
    </ul>
  </div>
</div>