<!-- navbar.component.html -->
<nav class="navbar p-3">
  <div class="mobile-header">
    <button class="hamburger" (click)="toggleMenu()" aria-label="Menu">
      <i class="bi" [ngClass]="{'bi-list': !isMenuOpen, 'bi-x': isMenuOpen}"></i>
    </button>

    <a class="logo" routerLink="/">
      <img src="https://firebasestorage.googleapis.com/v0/b/i-trends-85dd4.firebasestorage.app/o/MainAssets%2FitrendsLogo.png?alt=media&token=827321c7-4251-42c3-8a0f-8e3d3481a453"
           alt="i-trends Logo" loading="lazy">
    </a>




  <div class="nav-content" [class.active]="isMenuOpen">
    <div class="search-container">
      <input type="text" class="search-bar" placeholder="Search..." [(ngModel)]="searchQuery">
      <button class="search-button" (click)="onSearch()">
        <i class="bi bi-search"></i>
      </button>
    </div>

    <ul class="menu-items">
      <li (click)="closeMenu()"><a routerLink="/account"><i class="bi bi-person"></i> Account</a></li>
      <li (click)="closeMenu()"><a routerLink="/user-orders"><i class="bi bi-cart3"></i> My Orders</a></li>
      <li (click)="closeMenu()"><a routerLink="/know-more-about-us"><i class="bi bi-box"></i> About</a></li>
      <li *ngIf="this.isAdmin" (click)="closeMenu()"><a routerLink="/admin"><i class="bi bi-person-gear"></i> Admin</a></li>
      <li (click)="closeMenu()"><a routerLink="/auth"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
    </ul>
  </div>
  <div class="cart-icon">
    <i class="bi bi-cart3" routerLink="/cart"></i>
    <span class="cart-count">{{ cartCount }}</span>
  </div>
</div>
</nav>
