<div class="container">
    <div class="bottom-nav">
        <!-- Home -->
        <input type="radio" name="radio" value="1" id="tab-1" checked/>
        <label class="icon home-icon" for="tab-1" routerLink="/home" routerLinkActive="active">
            <i class="bi bi-house"></i>
            <span class="nav-text">Home</span>
        </label>

        <!-- Cart -->
        <input type="radio" name="radio" value="2" id="tab-2" />
        <label class="icon cart" for="tab-2" routerLink="/cart" routerLinkActive="active">
            <i class="bi bi-box"></i>
            <span class="nav-text">Explore</span>
        </label>

        <!-- Favorites -->
        <input type="radio" name="radio" value="3" id="tab-3" />
        <label class="icon fav" for="tab-3" routerLink="/favorites" routerLinkActive="active">
            <i class="bi bi-eye"></i>
            <span class="nav-text">EyeWears</span>
        </label>

        <!-- Profile -->
        <input type="radio" name="radio" value="4" id="tab-4" />
        <label class="icon profile" for="tab-4" routerLink="/profile" routerLinkActive="active">
            <i class="bi bi-bag"></i>
            <span class="nav-text">Cart</span>
        </label>
    </div>
</div>