<div class="container">
  <div class="bottom-nav">
    <!-- Home -->
    <input type="radio" name="radio" value="1" id="tab-1" checked />
    <label class="icon home-icon" for="tab-1" routerLink="/home" routerLinkActive="active">
      <i class="bi bi-house"></i>
      <span class="nav-text">Home</span>
    </label>

    <!-- Contact -->
    <input type="radio" name="radio" value="2" id="tab-2" />
    <label class="icon contact-icon" for="tab-2" routerLinkActive="active" (click)="toggleOptions()">
      <i class="bi bi-whatsapp"></i>
      <span class="nav-text">Contact</span>
      <div *ngIf="showContactOptions" class="half-circle-options">
        <button class="option-btn" (click)="call()">
          <i class="bi bi-telephone-fill"></i>
          <span>Call</span>
        </button>
        <button class="option-btn" (click)="mail()">
          <i class="bi bi-envelope-fill"></i>
          <span>Mail</span>
        </button>
        <button class="option-btn" (click)="whatsapp()">
          <i class="bi bi-whatsapp"></i>
          <span>WhatsApp</span>
        </button>
      </div>
    </label>


    <!-- EyeWears -->
    <input type="radio" name="radio" value="3" id="tab-3" />
    <label class="icon eyewear-icon" for="tab-3" routerLink="/category/all-products" routerLinkActive="active">
      <i class="bi bi-eye"></i>
      <span class="nav-text">EyeWears</span>
    </label>

    <!-- Cart -->
    <input disabled type="radio" name="radio" value="4" id="tab-4" />
    <label class="icon cart-icon" for="tab-4" routerLink="/cart" routerLinkActive="active">
      <i class="bi bi-bag"></i>
      <span class="nav-text">Cart</span>
    </label>
  </div>
</div>
